body,html{margin:0;padding:0;height:100%;}

.clear{clear: both;}
table, td, tr {margin: 0;padding:0}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.chatContainer{
    margin: 50px 0px 0px 0px;

    bottom:10px;
    right:20px;
    position:fixed;
}

.message{padding: 5px 10px 3px 5px;}
.message table{width: 100%}
.message table td:first-of-type {width:44px;vertical-align: bottom;}

.sentence div:first-child{padding:2px 7px;font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 16px;word-wrap: break-word}
.interphrase{
    clear: both;
    margin-top:1px;
	 height:1px;
}


.portrait{background-size: contain;  width:35px;height:35px;border-radius: 10px;overflow:hidden;margin-right:10px;  }


.fromBot {  text-align:left;  }
.fromBot .portrait{background-image: url(../img/botface.png); background-size: contain; margin-bottom:10px; }
.fromBot .sentence div:first-child{background: #e6e6e6;color:#000;float:left}


.fromUser { text-align:right;  }
.fromUser .sentence div:first-child{background: #4080ff;color:#fff;float:right}


.fromHistory{
	opacity:0.8;
}


.chatZone{
overflow: hidden;
    width:260px;
    margin: auto;
    border:1px solid #d6d6d6;

}

.textZoneContainer{
    position:relative;
    height:300px;
    overflow: none;

}


.textZoneContainer .textZone{
    position: absolute;
    width: 100%;
    bottom:0px;
    max-height: 300px;
    overflow: auto;

}

/* We round corner on the first and last sentence of a multi-sentence bloc */
.sentence:first-child div:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.sentence:last-child div:first-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom:5px;
}

/* We round corner on the right for every sentence of the Bot */
.fromBot .sentence div:first-child{
    border-top-right-radius: 8px;
}

.fromBot .sentence div:first-child{
    border-bottom-right-radius: 8px;
}

/* We round corner on the left for every sentence of the Bot */
.fromUser .sentence div:first-child{
    border-top-left-radius: 8px;
}

.fromUser .sentence div:first-child{
    border-bottom-left-radius: 8px;

}


.message.typing{
    margin-top:0px;
}

.typing .sentence div:first-child{
    background-image: url(../img/typing.gif);background-size: contain;
    width:27px;
}


.inputArea{
    border-top:1px solid #e6e6e6;
    padding:5px 5px 2px 10px;
}

.inputArea input{
    border: 0px;
    width:100%;
    height:24px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
